@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap&Text=$%0123456789');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}